// Font
$mainFont                : 'Roboto', Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// color
$defaultBlack            : #000;
$defaultGray             : #e5e5e5;
$defaultWhite            : #fff;
$defaultYellow           : #FFE600;
$defaultRed              : #FF4136;
$defaultBlue             : #435993;

$mainBlack               : #1c1c1c;
$darkBlack               : #2E211C;

$inputGray               : #C8C8C8;

// font-weight
$fontThin                : 100;
$fontLight               : 300;
$fontRegular             : 400;
$fontLightBold           : 600;
$fontBold                : 700;

// general size
$vvbig                   : 108px;
$vbig                    : 80px;
$more-big                : 69px;
$big                     : 56px;
$less-big                : 48px;
$more-medium             : 45px;
$medium                  : 40px;
$lless-medium            : 28px;
$less-medium             : 25px;
$more-small              : 20px;
$small                   : 16px;
$less-small              : 12px;
$vsmall                  : 8px;
$less-vsmall             : 5px;
$vvsmall                 : 3px;



